target/classes/EHSRoutingService.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.7.0"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">

	<mulexml:namespace-manager includeConfigNamespaces="true">
    <mulexml:namespace prefix="soapenv" uri="http://schemas.xmlsoap.org/soap/envelope/"/>
    <mulexml:namespace uri="xmlns.services.errorhandler/FaultSchema.xsd" prefix="fault"/>
    </mulexml:namespace-manager>

	<context:property-placeholder location="mule-app.properties"/>

    <jms:weblogic-connector name="Web_logic_JMS" username="${WeblogicJMSUsername}" password="${WeblogicJMSPassword}" validateConnections="true" jndiInitialFactory="weblogic.jndi.WLInitialContextFactory" jndiProviderUrl="${JMSProviderURL}" connectionFactoryJndiName="${JMSConnectionFactoryJndiName}" jndiDestinations="true" doc:name="Web logic JMS"/>
    <db:oracle-config name="Oracle_Configuration" host="${dbHost}" port="${dbPort}" instance="${dbInstance}" user="${dbUser}" password="${dbPassword}" useXaTransactions="true" doc:name="Oracle Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="${httpHost}" port="${httpPort}" doc:name="HTTP Listener Configuration"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <mulexml:jaxb-context name="JAXB_Context" packageNames="errorhandler.services.xmlns.faultschema" doc:name="JAXB Context"/>
    <!-- <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8081" basePath="mulesvc" doc:name="HTTP Listener Configuration"/> -->
    <flow name="EHSRoutingServiceFlow">
        <composite-source doc:name="Composite Source">
            <jms:inbound-endpoint queue="${JMSRoutingQueue}" connector-ref="Web_logic_JMS" doc:name="JMS_ReceiveRequest">
                <xa-transaction action="NONE"/>
            </jms:inbound-endpoint>
            <http:listener config-ref="HTTP_Listener_Configuration" path="/restservice" doc:name="HTTP_ReceiveRequestClient"/>
            <http:listener config-ref="HTTP_Listener_Configuration" path="/soapservice" doc:name="HTTP_ReceiveRequestFromSOAP"/>
        </composite-source>
        <set-variable variableName="InputRequest" value="#[payload]" doc:name="SetVariable_InputRequest"/>
        <set-variable variableName="SoapFlag" value="#[xpath3('//soapenv:Body/*[1]')!=empty]" doc:name="SetVariable_SoapFlag"/>
        <logger message="SOAP FLAG : #[message.payload]" level="INFO" doc:name="Logger"/>
          <choice doc:name="CheckSOAPInvocation">
            <when expression="#[flowVars['SoapFlag']==true]">
                <cxf:proxy-service  port="EHServicePortTypePort" namespace="xmlns.services.errorhandler/FaultSchema.xsd" service="EHServicePortType" payload="body" doc:name="proxy service" wsdlLocation="EHService.wsdl" configuration-ref="CXF_Configuration"/>
        		<mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
                <flow-ref name="CheckSender_Subflow" doc:name="CheckSender_Subflow"/>
                
            </when>
            <otherwise>
                <logger message="Default: CheckSOAPHeader" level="INFO" doc:name="Logger"/>
                <flow-ref name="CheckSender_Subflow" doc:name="CheckSender_Subflow"/>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-attachment attachmentName="RequestMessage.txt" value="#[flowVars['InputRequest']]" contentType="text/plain" doc:name="Attachment_Payload"/>
            <set-payload value="Error Occured in Error Handling Service. PFA the request." doc:name="Set Payload"/>
            <smtp:outbound-endpoint host="${smtpHost}" to="${smtpTo}" from="${smtpFrom}" subject="Error Occured in EHSRoutingService" responseTimeout="10000" doc:name="SMTP"/>
        </catch-exception-strategy> 
    </flow>
    <sub-flow name="CheckSender_Subflow">
    	<choice doc:name="CheckSender">
                    <when expression="#[xpath3('//*[local-name() =\'Sender\']/text()') == 'Sender6']">
                        <jms:outbound-endpoint queue="${JMSErrorRequestQueue}" connector-ref="Web_logic_JMS" doc:name="JMS_PublishRequest">
                            <xa-transaction action="NONE"/>
                        </jms:outbound-endpoint>
                    </when>
                    <otherwise>
                        <logger message="In Default" level="INFO" doc:name="OtherwiseLog"/>
                    </otherwise>
                </choice>
    </sub-flow>
    <!-- <flow name="EHSRoutingServiceFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="sample/soapws" doc:name="HTTP"/>
        <cxf:jaxws-service soapVersion="1.2" doc:name="CXF" bindingId="ErrorHandlerPortTypeSOAP12Binding" namespace="xmlns.services.errorhandler/FaultSchema.xsd" port="ErrorHandlerPortType" service="EHS_SOAP_Service"/>
    </flow> -->
</mule>
